<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <title>User Page</title>
</head>
<body>
<div class="sticky top-0 z-50 bg-white shadow-md">
    {% include "components/navbar.html" %}
</div>

<form
    id="load_data"
    class="flex flex-row items-center flex-wrap justify-start gap-2 w-full"
    hx-get="/drinks/get/{{ name }}"
    hx-target="#drinks-avariable"
    hx-trigger="submit,load,change"
></form>

<div role="alert" class="alert alert-success fixed bottom-4 left-4 z-50" id="success_alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span id="alert_text">Bestellung wurde angenommen!</span>
</div>

<div id="drinks-avariable"></div>


<div id="loading" class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
    <span class="loading loading-spinner loading-lg text-white"></span>
</div>


</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<meta id="name" data-name="{{name}}">
<script>
    const alert = document.getElementById("success_alert")
    const loading = document.getElementById("loading")
    const total_price = document.getElementById("total_price")
    const name = document.getElementById("name").dataset.name;
    const socket = io({ auth: { name } });
    const toggle = document.getElementById("toggle");

    alert.style.visibility = "hidden"
    loading.style.visibility = "hidden"

    toggle?.addEventListener("change", (event) => {
        loading.style.visibility = "visible"
        socket.emit("change_restriction", {
            name,
            checked: event.target.checked
        });
    });

    document.addEventListener('submit', (event) => {
        const form = event.target.closest('.drink-form');
        if (!form) return;
        loading.style.visibility = "visible"

        event.preventDefault();
        socket.emit('buy_drink', {
            name: form.dataset.name,
            drink: form.dataset.drink,
        });
    });

    socket.on("restriction_change", (data) => {
        if (data["restriction"]) { toggle.checked = 1; } 
        else { toggle.checked = 0; }
        loading.style.visibility = "hidden"
        document.getElementById("load_data").requestSubmit();
    });

    socket.on("buy_successful", (data) => {
        loading.style.visibility = "hidden"
        alert.style.visibility= "visible"

        total_price.innerHTML = `(${data["total_price"]}€)`
        document.getElementById("alert_text").innerHTML = `Bestellung '${data["drink_name"]}' wurde angenommen! (${data["total_price"]}€)`
        setTimeout(() => {
            alert.style.visibility = "hidden"
        }, 2000)
    });
</script>