<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <title>User Page</title>
</head>
<body>
{% include "components/navbar.html" %}

<form
    id="load_data"
    class="flex flex-row items-center flex-wrap justify-start gap-2 w-full"
    hx-get="/drinks/get/{{ name }}"
    hx-target="#drinks-avariable"
    hx-trigger="submit,load,change"
    hx-indicator=".htmx-indicator"
></form>

<div id="drinks-avariable"></div>

<div class="flex justify-center items-center">
    <span
            class="htmx-indicator center loading loading-spinner loading-lg mt-16"
    ></span>
</div>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<meta id="name" data-name="{{name}}">
<script>
    const name = document.getElementById("name").dataset.name;
    const socket = io({ auth: { name } });
    const toggle = document.getElementById("toggle");

    toggle?.addEventListener("change", (event) => {
        socket.emit("change_restriction", {
            name,
            checked: event.target.checked
        });
    });


    socket.on("restriction_change", (data) => {
        if (data["restriction"]) { toggle.checked = 1; } 
        else { toggle.checked = 0; }
        document.getElementById("load_data").requestSubmit();
    });
</script>