<div class="mx-auto grid w-fit grid-cols-1 justify-items-center gap-6 sm:grid-cols-2">
    {% for name in families %}
        <div class="card bg-base-300 w-96 shadow-lg">
            <figure>
                <img class="h-48 w-96 object-fill" src="{{ get_image_for_user(name) }}" alt="{{ name }}" />
            </figure>
            <div class="card-body">
                <div class="flex items-center justify-between gap-4">
                    <h2 class="card-title">
                        {{ name }}
                    </h2>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary btn-block" href="{{ url_for('get_user_page', name=name) }}">Auswählen</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


