<div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="/">Getränkeabrechnung</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            {% if name %}
                <form id="restriction_form" method="post" action="{{ url_for('change_restriction', name=name) }}">
                    <input 
                        id="toggle" 
                        type="checkbox" 
                        name="restriction" 
                        {% if restriction %}checked="checked"{% endif %} 
                        class="toggle" 
                        onchange="this.form.submit()"
                    />
                <form>
            {% endif %}
            <li>
                <details>
                <summary>Parent</summary>
                <ul class="bg-base-100 rounded-t-none p-2">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                </ul>
                </details>
            </li>
            </ul>
        </div>
    </div>